* {
  transition: 0.5s ease;
  font-size: 1rem;
  color: black;
}

body {
  display: flex;
  position: static;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  height: 100vh;
  width: 100vw;
  background-image: url('./seaShipSunset.webp'), linear-gradient(100deg, #555555, rgb(0, 0, 0));
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 0% 50%;
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
}

button {
  padding: 2rem;
  border: solid 5px blueviolet;
}

p {
  color: rgb(185, 5, 5);
  text-shadow: 4px 4px 4px rgb(0, 0, 0);
  font-weight: 700;
  font-size: 30px;
  border: outset 5px rgb(120, 68, 169);
  padding: 1rem;
  background-color: rgb(20, 67, 20);
}

div {
  color: white;
  text-shadow: 2px 2px 3px rgb(1, 0, 0);
}

.content {
  display: flex;
  position: static;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1rem;
}

.mainMenuContainer1 {
  display: flex;
  position: static;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 3rem;
}

.startBtn, 
.newRoundBtn, 
.quitGameBtn,
.rndShipPlacementBtn  {
  color: rgb(185, 5, 5);
  text-shadow: 4px 4px 4px rgb(0, 0, 0);
  font-weight: 700;
  font-size: 30px;
  background-color: rgb(6, 48, 6);
  border: outset 8px rgb(120, 68, 169);
  padding: 1rem;
}

.confirmInputBtn {
  color: rgb(185, 5, 5);
  text-shadow: 4px 4px 4px rgb(0, 0, 0);
  font-weight: 700;
  font-size: 15px;
  background-color: rgb(6, 48, 6);
  border: outset 8px rgb(120, 68, 169);
  padding: 0.25rem;
}

.newRoundBtn, 
.quitGameBtn,
.rndShipPlacementBtn {
  font-size: 20px;
}

.startBtn:hover,
.newRoundBtn:hover, 
.quitGameBtn:hover,
.rndShipPlacementBtn:hover,
.confirmInputBtn:hover {
  background-color: rgb(11, 78, 11);
}

.startBtn:active,
.newRoundBtn:active, 
.quitGameBtn:active,
.rndShipPlacementBtn:active,
.confirmInputBtn:active {
  background-color: rgb(15, 103, 15);
}

.scoreDiv {
  display: flex;
  position: static;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.gridDiv {
  padding: 0rem;
  display: flex;
  position: static;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  border: dashed 5px orange;
  background-image: linear-gradient(90deg, rgb(50, 65, 35), rgb(52, 88, 32));
}

.sunkStatusMessage {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(90deg, rgb(50, 65, 35), rgb(52, 88, 32));
}

.playerGrid,
.aiGrid {
  border: none;
  display: grid;
  justify-content: start;
  align-items: stretch;
  align-self: center;  
  align-content: stretch;
  grid-template-columns: repeat(10, 1fr);
  gap: 2px 2px;
  border: dashed 5px blueviolet;
  padding: 1rem;
}

.inputForm {
  background-image: linear-gradient(90deg, rgb(52, 88, 32), rgb(50, 65, 35));
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  border: solid 5px rgb(72, 72, 181);
  width: 26rem;
}

label {
  font-size: 13px;
  color: white;
}

.aiGrid {
  padding-top: 2.57rem;
  padding-bottom: 2.57rem;
  border-left: none;
  pointer-events: none;
}

.playerGrid {
  border-right: none;
}

.humanSquare {
  text-align: center;
  height: 35px;
  width: 35px;
  border: solid 2px rgb(114, 123, 20);
  padding: 0.2rem;
}

.aiSquare {
  text-align: center;
  height: 30px;
  width: 30px;
  border: solid 2px rgb(116, 125, 20);
  padding: 0.2rem;
}